
<div class="form-group row">
  <%= f.radio_button :status, 'submitted', class: 'post__radio-button'%>
  <%= f.label :status, 'Submitted'%>

  <%= f.radio_button :status, 'approved', class: 'post__radio-button'%>
  <%= f.label :status, 'Approved'%>

  <%= f.radio_button :status, 'rejected', class: 'post__radio-button'%>
  <%= f.label :status, 'Rejected'%>
</div>